@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Components for Mobile App */
@layer components {
  .primary-button {
    @apply bg-[#FFB74D] text-black font-semibold py-3 rounded-xl items-center justify-center shadow-lg;
  }

  .secondary-button {
    @apply bg-gray-100 dark:bg-black text-black dark:text-white font-semibold py-3 rounded-xl items-center justify-center border border-gray-300 dark:border-gray-800;
  }

  .input-field {
    @apply bg-transparent dark:bg-transparent text-black dark:text-white border-b border-gray-300 dark:border-gray-600 px-2 py-3 text-sm;
  }
}
